@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-onest: var(--font-onest);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --radius-base: var(--base-radius);
  --color-foreground-muted: var(--foreground-muted);
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
  -webkit-text-fill-color: var(--foreground);
  }
  }

:root {
  --background: #02020A;
  --foreground: #E1DEE3;
  --foreground-muted: #6f6f6f;
  --primary: #E84855;
  --primary-dark: #a9343e;
  --primary-light: #f46874;
  --accent: #ECA400;
  --base-radius: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}